$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$FontAwesomePath: "/bower_components/font-awesome/font/";

@import 'sass-bootstrap/lib/bootstrap';

@import 'font-awesome/scss/font-awesome';

body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}
html {
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    text-align: center;
    font-family: 'open sans';
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
.navbar-default{
   background: #5AC0AE;
   border:0;
   -webkit-transition: all 500ms ease-in-out;
   -moz-transition: all 500ms ease-in-out;
   -o-transition: all 500ms ease-in-out;
   transition: all 500ms ease-in-out;
   .navbar-brand{
    color:#fff;
    font-size:41px;
}
.navbar-nav > li > a{
    color:#fff;
    &:hover, &:focus{
        color:#fff;
        text-shadow: 0 0 2px white;
    }
}
}

.weagleBrand{
    font-family: 'Tangerine', cursive;
    font-size:90px;
    font-weight: 100;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto; 
    overflow: hidden;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: 'open sans';
    font-weight: 100;
    color: #5AC0AE;
}
h1 {
    margin-bottom: 5px;
    font-size: 70px;
    letter-spacing: -4px;
    font-weight: 100;
}
h2 {
    color: #6D461D;
    margin-top: 0;
    margin-bottom: 10px;
}
h1.heading{
    border-bottom: 1px solid #5AC0AE;
    padding-bottom: 26px;
    margin-bottom: 55px;
    font-size: 50px;
}
.main {
    float: left;
    width: 100%;
    margin: 0 auto;
}

.main h1 {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}

.main section .page_container {
    position: relative;
    top: 10%;
    margin: 0 auto 0;
    max-width: 950px;
    z-index: 3;
}
.main section  {
    overflow: hidden;
}

.main section.page1 {
    text-align: center;
    background: #1a6b67;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWE2YjY3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzclIiBzdG9wLWNvbG9yPSIjM2M5NjcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzglIiBzdG9wLWNvbG9yPSIjM2M5NjcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFhNmI2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg, #1a6b67 0%, #3c9672 37%, #3c9672 78%, #1a6b67 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1a6b67), color-stop(37%,#3c9672), color-stop(78%,#3c9672), color-stop(100%,#1a6b67));
    background: -webkit-linear-gradient(-45deg, #1a6b67 0%,#3c9672 37%,#3c9672 78%,#1a6b67 100%);
    background: -o-linear-gradient(-45deg, #1a6b67 0%,#3c9672 37%,#3c9672 78%,#1a6b67 100%);
    background: -ms-linear-gradient(-45deg, #1a6b67 0%,#3c9672 37%,#3c9672 78%,#1a6b67 100%);
    background: linear-gradient(135deg, #1a6b67 0%,#3c9672 37%,#3c9672 78%,#1a6b67 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6b67', endColorstr='#1a6b67',GradientType=1 );
    h1 {
        font-size: 70px;
        color: #fff;
        font-weight: bold;
    }
    h2 {
        color:#fff;
    }
    h1.weagleBrand{
        font-weight: 100;
        margin-top: 65px;
        font-size: 300px; 
        margin-left: -60px;
    }
}
.viewing-page-1 .navbar-default{
    background-color: transparent;
    border:0;
    .navbar-brand{
        opacity: 0;
    }
}
@mixin hexgonColor($color){
    background:$color;
    &:before {
     border-bottom: 12px solid $color;
 }
 &:after {
    border-top: 12px solid $color;
 }
}
.main section.page2 {
    background: #fff ;

    .page_container {
        margin-top: 0px;
    }
   
    .row{
        text-align: left;
        margin-bottom: 20px;
        p{
            text-align: justify;
        }
        h4{
            margin-bottom: 0;
        }
    }

    .hexgonShape {
        width: 50px;
        height: 30px;
        background: #cdabef;
        position: relative;
        text-align: center;
        color:white;
        margin:30px 20px;

        &:before,&:after{
            content: "";
            position: absolute;
            left: 0;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
        }
        &:before {
         top: -12px;
         border-bottom: 12px solid #cdabef;
     }
     &:after {
         bottom: -12px; 
         border-top: 12px solid #cdabef;
     }
 }
 .blueColor{
     @include hexgonColor(#3498db);
 }
 .yellowColor{
     @include hexgonColor(#f1c40f);
 }
 .asphaltColor{
     @include hexgonColor(#34495e);
 }
 .litblueColor{
     @include hexgonColor(#1abc9c);
 }
 .orangeColor{
     @include hexgonColor(#f39c12);
 }
 .greenColor{
     @include hexgonColor(#2ecc71);
 }

}
.viewing-page-2 .navbar-default{

    a{
        color: #FFF;
    }
}
.main section.page3 {

    h1 {
    }
    h2 {
        color: rgba(0,0,0,0.85);
        line-height: 160%;
        font-weight: 100;
        font-size: 21px;
    }
}
@media screen and (min-width: 768px) {

}
